#contatoSection {
    background-color: var(--main-green);
    color: white;

    h2 {
        font-weight: 900;
        white-space: nowrap;
        text-transform: uppercase;
        transform: scaleY(1.2);
    }

    #divContato {
        max-width: 900px;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20;
    }

    input,
    textarea {
        border: 2px solid white;
        background-color: white;
        color: var(--main-black);
        line-height: 2rem;
        padding: 0 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        box-shadow: 8px 8px 0 var(--main-black);
    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    button {
        background-color: var(--main-white);
        color: var(--main-black);
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px 22px;
        max-width: 1200px;

        border-radius: 1rem;
        box-shadow: 5px 5px 0 var(--main-black);
        transition:
            transform 0.18s ease,
            box-shadow 0.18s ease;
    }

    button:hover {
        transform: translate(3px, 3px);
        box-shadow: 2px 2px 0 var(--main-black);
    }
}
