#header * {
}
#header {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    margin: 3.7rem auto 3rem auto;
    gap: 14;
    width: 90%;

    #logo,
    ul {
        color: var(--main-green);
        text-transform: uppercase;
    }

    #logo {
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        transform: scaleY(1.25);
    }

    #navegacao ul {
        font-weight: 900;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        color: var(--main-green);
        gap: 1rem;
        font-size: 1.15rem;

        li {
            padding: 0 0.3rem;
            line-height: 1.75rem;
        }

        li a {
            display: inline-block;
            line-height: 1.3rem;
            border-bottom: 0.25rem solid var(--main-green);
            white-space: nowrap;
        }
    }

    #icones {
        padding: 0.5rem 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        gap: 20;
        font-size: 1.75rem;
    }

    #paint {
        position: absolute;
        top: 0;
        right: 25;
        border-top: none;
        border-radius: 0 0 5 5;
        padding: 8px 5px 8px 5px;
        font-size: 1.4rem;
        color: var(--main-yellow);
        background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
    }
}
